name: Simple Test

permissions:
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  hello:
    name: Hello World
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello World"
      - run: rustc --version
